body{
    font-family: Sahel;
    direction: rtl;
    background-color: #efefef;
}
.navbar-light .navbar-toggler-icon {
    /* @ts-ignore */
    background-image: url(data:image/svg+xml,%3Csvg%20stroke='rgba%280, 0, 0, 0.55%29'%20xmlns=%22http://www.w3.org/2000/svg%22%20enable-background=%22new%200%200%2024%2024%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20width=%2224%22%3E%3Cg%3E%3Cpath%20d=%22M0,0h24v24H0V0z%22%20fill=%22none%22/%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath%20d=%22M4,18h16c0.55,0,1-0.45,1-1l0,0c0-0.55-0.45-1-1-1H4c-0.55,0-1,0.45-1,1l0,0C3,17.55,3.45,18,4,18z%20M4,13h16%20c0.55,0,1-0.45,1-1l0,0c0-0.55-0.45-1-1-1H4c-0.55,0-1,0.45-1,1l0,0C3,12.55,3.45,13,4,13z%20M3,7L3,7c0,0.55,0.45,1,1,1h16%20c0.55,0,1-0.45,1-1l0,0c0-0.55-0.45-1-1-1H4C3.45,6,3,6.45,3,7z%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E);
}

i[class*="material"] {
    user-select: none;
}
div.card {
    margin: .5rem auto;
}
ul.navbar-nav.me-auto {
    padding-right: .5em;
}
.navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
}
.navbar-toggler:focus, .btn:focus {
    box-shadow: none;
}
div.info-body {
    max-width: 80%;
}
.x-title {
    display: block;
    font-size: 1rem;
}
table {
    max-width: 560px;
}
.card[disabled] {
    user-select: none;
    pointer-events: none;
    opacity: .5;
}
.material-icons-round{
    font-size: 2em;
    color: #363636;
}
.btn span.material-icons-round  {
    padding-top: 10px;
}
button.btn:focus, button.btn:active {
    animation: arrow;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;
    background-color: #36363680;
}
button.go-to{
    clip-path: circle(20px);
}
@keyframes arrow {
    0% {
        clip-path: circle(0px);
    }
    100%{
        clip-path: circle(20px);
    }
}
div.card.info {
    background-color: transparent;
    margin: .5rem auto;
    border: 0;
}
@media (max-width: 1200px) { 
    .container [class*="col"]:not([class*="navbar"]){
        width: 100%;
    }
 }
 [class*='card-title'] {
    font-weight: bold;
}
@media (hover: none){
    button.btn:focus, button.btn:active {
        animation: arrow;
        animation-duration: .4s;
        animation-timing-function: ease-in-out;
        background-color: #36363680;
    }
}